* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Light', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1860px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.login-container {
    max-width: 1177px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}